@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;

.descriptive {
  margin: 2rem;
  padding: 2rem 0;

  @include tablet {
    display: flex;
  }

  &__image {
    @include tablet {
      border-radius: 2rem;
      margin-right: 2rem;
      width: 30rem;
      height: 22rem;
    }

    @include desktop {
      width: 75rem;
      height: 52rem;
    }
  }

  &__text {
    text-indent: 3rem;
    text-align: justify;
    line-height: 1.5;

    @include desktop {
      font-size: 2rem;
      line-height: 2;
    }
  }
}
