@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;

.nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 245, 245);

  &__div {
    display: flex;
  }

  &__heading {
    font-size: 1.4rem;
    color: rgb(72, 163, 244);

    @include tablet {
      font-size: 2.1rem;
      margin-left: 1rem;
    }
  }

  &__subheading {
    font-size: 1.25rem;
    margin-right: 1rem;
    color: black;

    @include tablet {
      font-size: 1.75rem;
    }
  }
}
