.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: transparent;
  position: fixed;
  bottom: 0;
}

.up {
  transform: scale(0.04) rotate(-90deg);
  cursor: pointer;
}
