.window {
  height: 100vh;
  width: 800%;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

.gallery {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;

  &__image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
  }
}
